<%= form_with(model: article, local: true) do |f| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    
  <div class="form-group">
  <div><%= f.label :title, 'タイトル' %></div>
  <%= f.text_field :title, class:'control-label' %>
  </div>
  
  <div class="form-group">
  <div><%= f.label :body, '本文' %></div>
  <%= f.hidden_field :body, class:'control-label', id: :article_body %>
  <trix-editor input="article_body"></trix-editor>
  </div>

  <div class="form-group">
  <div><%= f.label :image, '画像' %></div>
  <div><%= f.file_field :image %></div>
  </div>
  
  <%= f.submit '投稿', class: 'btn btn-primary'%>
<% end %>
  
  
