<h1><%= @article.title %> </h1>
<div class="card border-light bg-light mb-3">
    <%= simple_format @article.body %>
    <%= image_tag @article.image.url%>
</div>

<%= link_to '編集', edit_article_path(@article), class:'btn btn-info'%>
<%= link_to '削除', @article, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } , class:'btn btn-danger' %>