<h1><%= @article.title %> </h1>
<div class="card border-light bg-light mb-3">
    <%= sanitize @article.body, tags: %w(h1 h2 h3 h4 h5 h6 ul ol li p a img table tr td em br strong div), attributes:  %w(id class href) %>
    <%= image_tag @article.image.url%>
</div>

<%= link_to '編集', edit_article_path(@article), class:'btn btn-info'%>
<%= link_to '削除', @article, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } , class:'btn btn-danger' %>